* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}
a {
  list-style: none;
  text-decoration: none;
}
.logo {
  background-color: #00000026;
  z-index: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  border-top: 1px solid #fff;
}
.container-fluid.fixed-top.fix-btn {
  top: 80px;
}
.html {
  color: #ff6347;
}
.css {
  color: #0000ff;
}
.js {
  color: yellow;
}
.bootstrap {
  color: #bb8fce;
}
.jquery {
  color: #aed6f1;
}
.sass {
  color: #ff00ff;
}
.word {
  color: #5dade2;
}
.navbar-brand {
  color: #f9b248;
  font-weight: 600;
}
a.navbar-brand:hover {
  color: #f9b248;
}
.navbar-brand > span {
  color: #fff;
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#about {
  top: 20px;
  background-color: #04aa6d;
}

#blog {
  top: 80px;
  background-color: #2196f3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}

#contact {
  top: 200px;
  background-color: #555;
}

/* Progress Code Start  */
.progress-container {
  width: 100%;
  height: 8px;
  background: #000;
  z-index: 1;
}

.progress-bar {
  height: 8px;
  background: #f9b248;
  width: 0%;
}
/* progress Code End  */

.hero-banner {
  background-color: #08080805;
  padding-top: 100px;
  padding-bottom: 80px;
}
.hero-banner > .container {
  border-left: 500px solid #f9b248;
  border-right: 52px solid green;
  border-top: 30px solid #f9b248;
  border-bottom: 30px solid green;
  background: #fff;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 50px;
}
.hero-banner h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  padding-bottom: 30px;
  margin: 0;
}
.hero-banner p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-shadow: 0 0 black;
}
.about-me > .container {
  background-color: #08080805;
  padding: 50px;
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-radius: 50px;
  border-top: 5px solid #f9b248;
  border-bottom: 5px solid #f9b248;
}

p.bottom-line {
  border-bottom: 3px solid #f9b248;
  width: 18%;
  margin: 0;
  padding: 0;
}

/* Responsive Section Stat  */
.responsive-section a {
  color: #fff;
}
button {
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  letter-spacing: 2px;
}
button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: green;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}
/* Responsive Section End  */

/* Footer Code Start  */
#cont a {
  color: #fff;
}
#cont a:hover {
  color: #f9b248;
}
@media (min-width: 1200px) {
  .map {
    padding: 30px;
    border-top: 3px solid orange;
    /* border-left: 3px solid green; */
    border-right: 3px solid green;
    border-bottom: 3px solid orange;
  }
  .divmap2 {
    padding: 30px;
    border-top: 3px solid orange;
    border-left: 3px solid green;
    /* border-right: 3px solid green; */
    border-bottom: 3px solid orange;
  }
  .embed-responsive.embed-responsive-16by9 {
    padding: 30px;
    border-top: 3px solid orange;
    border-left: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 3px solid orange;
  }
}
/* Footer Code End  */
@media (max-width: 1200px) {
  .hero-banner > .container {
    border-left: 200px solid #f9b248;
    border-right: 52px solid green;
    border-top: 30px solid #f9b248;
    border-bottom: 30px solid green;
    background: #fff;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 50px;
  }
}
/* Media Query Start  */
@media (max-width: 414px) {
  .hero-banner {
    background-color: #08080805;
    padding-top: 54px;
  }
  .hero-banner h1 {
    font-size: 1.3em;
    line-height: 30px;
    margin-top: 0px;
  }
  .hero-banner p {
    font-size: 18px;
    padding: 0;
  }

  .hero-banner > .container {
    border-left: 40px solid #f9b248;
  }
  .navbar-brand {
    padding: 0px;
  }
  .logo {
    border-radius: 0px;
  }
  .about-me {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 375px) {
  .navbar-brand {
    padding: 0px;
  }
  .logo {
    border-radius: 0;
  }
  .hero-banner {
    padding-top: 54px;
  }
  .hero-banner h1 {
    font-size: 1.6em;
    line-height: 30px;
    margin-top: 0px;
  }
  .hero-banner p {
    font-size: 19px;
    padding: 0;
  }
  .hero-banner > .container {
    border-left: 40px solid #f9b248;
  }
  .about-me {
    margin-left: 10px;
    margin-right: 10px;
  }
}
